.container{
    display: flex;
    overflow: hidden;
    height: 7vh;
    /* margin: 5px; */
    /* border-radius: 5px; */
    /* margin-bottom: 5px; */
    align-items: center;
    /* background-color:burlywood; */
    background-color: #333;
    justify-content: space-between;
}

.menu-hdr{
    display: flex;
    align-items: center;
    /* padding: 6px 16px; */
    justify-content:space-between;
    overflow: hidden;
}

.menu-items{
  /* display: block; */
  padding: 10px;
  color: white;
  font-weight: bold;

  /* margin: 10px; */
  /* background-color: aliceblue; */
  /* margin: px; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.menu-items:hover{
    background-color: red;
    /* color: blue; */
}

.sub-menu {
    margin-top: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sub-menu li {
    float: none;
    color: black;
    padding: 12px 16px;
    /* padding: 0.4rem 0.5rem; */
    display: block;
    /* margin: 0; */
    text-align: left;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}
.sub-menu li:hover{
    background-color: #ddd;
}

.btn {
    border: none;
    background: transparent;
    padding: 6px 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 209, 0);
    border-radius: 5px;
    transition: 0.3s all ease-out;
    cursor: pointer;
    margin-right: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .btn:hover {
    color: white;
    background: rgb(0, 212, 212);
  }