.shownotes{
    background-color: rgb(231, 225, 225);
    /* width: 60%; */
    /* align-items: center; */
    padding: 10px;
    border-radius: 10px;    
    
}

.shownotes button {
    background-color: cadetblue;
}

.shownotes .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.shownotes .top input {
    border: 1px solid black;
    border-radius: 0.3rem;
    width: 350px;
    height: 35px;
    font-size: 16px;
    padding: 0 10px;
}