.shownotes{
    background-color: rgb(231, 225, 225);
    /* width: 60%; */
    /* align-items: center; */
     padding: 10px;
    /* border-radius: 10px;     */
    
}

.shownotes button {
    border: none;
    /* background: transparent; */
    padding: 6px 16px;
    color: white;
    border-radius: 10px;
    transition: 0.3s all ease-out;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(0, 209, 0);
  }

  .shownotes button:hover {
    color: white;
    background: rgb(0, 212, 212);
  }

.shownotes .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.shownotes .top input {
    border: 1px solid black;
    border-radius: 0.3rem;
    width: 350px;
    height: 35px;
    font-size: 16px;
    padding: 0 10px;
}